<h1 class="">{{titre}}</h1>

<div class="row placeholders">
    <div class="col-md-4 thumbnail">
        <div class="pieComps"></div>
        <h4>Skills</h4>
        <span class="text-muted"></span>
    </div>
    <div class="col-md-4 thumbnail">
        <div class="pieProjs"></div>
        <h4>Projects</h4>
        <span class="text-muted"></span>
    </div>
    <div class="col-md-4 thumbnail">
        <div class="pieDevs"></div>
        <h4>Developpers</h4>
        <span class="text-muted"></span>
    </div>
    <div ng-controller='LatestComsController' class="col-md-12">

        <h4>Latest commits</h4>
        
        <table >
            <tr ng-repeat='ev in evs'>
            <td class="thumbnail" style="margin-bottom:1px;" >
                    <span class='badge'>{{ev.time1}} - {{ev.time2}}</span>  
                    Le developpeur <strong>{{ev.dev}}</strong> a exprimé la compétence <strong> {{ev.id}}/{{ev.domain}} </strong> lors de {{ev.score}} commits au projet <a href="{{ev.repo}}">{{ev.repo}}</a>
                </td>
            </tr>
        </table>
        
    </div>



</div>
<script type="text/javascript">
 makePieGlobal();
</script>
<script type="text/javascript" src="js/makePie.js"></script>
